body{
    /* background-color: blueviolet; */     /* Test */
    height: 5000px;
    color: snow;
}

/* ----------------------------------------------------------------------------------------------------------- */
.form-kerri .form-control:focus{

	border-color: rgb(128, 0, 0);

    box-shadow: none;
	/* box-shadow:0px 0px 10px rgb(128, 0, 0) !important; */

}

.form-kerri{
    width: 100%;
    margin: 5rem 0;
}

.form-control{
    width: 50%;
    margin: auto;

}




/* ----------------------------------------------------------------------------------------------------------- */
.passwordInputm{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #b61f1f !important;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 100%;
    /* margin: 5rem 0; */
}

.boxForm{
    width: 50%;
    margin: auto;
    position: relative;

}

#eye{
    color: #9a9a9a;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0,-50%);
    cursor: pointer;
    font-size: 20px;
}

.boxForm .passwordInputm:focus{
	border-color: rgb(128, 0, 0) !important;
	box-shadow:0px 0px 10px rgb(128, 0, 0) !important;
    border: none !important;
    border: 1px solid #b61f1f !important;
}






/* ------------------------------------------------------------------------------------------------------------------------------------- */
.inputForm2{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;

    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    width: 100%;
    margin: 5rem 0;

	/* box-shadow:0px 5px 5px rgb(128, 0, 0) !important; */

    outline: none;
    border: none;
    border-top: none;
    border-right: none;
    border-left: none;

    border-bottom: 1px solid #b61f1f !important;
    outline: none;
}

.divForm2 .inputForm2:focus{
	border-color: rgb(128, 0, 0) !important;
	/* box-shadow:0px 5px 10px rgb(128, 0, 0) !important; */
    border: none !important;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #b61f1f !important;

}



.divForm2{
    position: relative;
    width: 50%;
    margin: auto;

}



.divForm2 label{
    position: absolute;
    top: 0;
    left: 0;
    /* padding: 10px 0 ; */
    font-size: 16px;
    color:rgb(36, 13, 168);
    pointer-events: none;
    transition: .5s;

}


.divForm2 .inputForm2:focus ~  label{
  top: -22px;
  left: 10;
  color: #b61f1f;
}